/******HEADER*****/
.navBox a {
    position: absolute;
    top: 24px;
    left: 23px;
    color: var(--grey3)
}
.navBox a:hover {
    transform: scale(1.2);
}
nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}
header {
    height: 63px;
}
.dots {
    overflow: hidden;
}

/******MAIN*****/
.menuTitle {
    position: relative;
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;

}
.menu h2 {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    width: 90%;
    color: var(--lightBlack);
    padding: 25px 41px 0px 17px;
}
.menuLikeIcon {
    font-size: 20px;
    position: absolute;
    top: 36px;
    right: 41px;
}
/******MENU*****/
.menu {
    position: relative;
    width: 100%;
    background-color: var(--background);
    border-radius: 40px 40px 0px 0px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    top: -40px;
}
.imageMenuSet {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
}
.menu h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--turquoise);
    width: 40px;
}
.menu h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menuPart {
    padding-left: 13px;
    padding-right: 13px;
}
.menuPart button {
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 12px 0px 12px 15px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0px 4.01149px 15.0431px 
    rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.textContainer {
    width: 100%;
}
.tasteAndPrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tasteAndPrice b {
    color: var(--grey3);
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.tasteAndPrice p {
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
    max-width: 100%;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 25px;
}
.menuPart ul {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menuPart li {
    display: flex;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards, 
    moveUp 1s ease-out forwards;
}

/*MENU CHECKMARK*/
.checkBox {
    width: 65px;
    height: 69px;
    background-color: var(--turquoise);
    border-radius: 0px 15px 15px 0px;
    margin-right: -65px;
    margin-left: 15px;
    transition: all 0.3s;
}
.checkIcon {
    border-radius: 50%;
    background-color: var(--white);
    color: var(--turquoise);
}
.checkIcon::before {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuPart button:hover .checkBox,
.menuPart button:focus .checkBox {
    margin-right: 0px;
}

/*Animation des menus*/
.menuPart li:nth-child(1) {
    animation-delay: 0.2s;
}
.menuPart li:nth-child(2) {
    animation-delay: 0.5s;
}
.menuPart li:nth-child(3) {
    animation-delay: 0.7s;
}
.menuPart li:nth-child(4) {
    animation-delay: 0.9s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(45px);
    }
    to {
        transform: translateY(0);
    }
}

/*Boutton de Commande*/
.orderButtonBox {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderButtonStyle:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.35);
}
.orderButtonStyle {
    width: 186px;
    height: 50px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 25px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.orderButtonStyle p {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: var(--white);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
@media screen and (min-width:1024px) {

    /******HEADER****/
    .navBox a {
        top: 40px;
    }
    /******MAIN****/
    main {
        background-color: var(--white);
    }
    .menuFullBox {
        width: 1024px;
        background-color: var(--background);
        margin: auto;
    }
    .menu {
        padding-top: 25px;
        align-items: center;
    }
    .menu h2 {
        width: fit-content;
        padding-left: 0;
        padding-right: 0;
    }
    .menuLikeIconPos {
        top: 60px;
        right: 345px;
    }
    .menu article {
        width: 60%;
        padding: 0px;
    }
}