:root {
    --grey1: #f3f3f3;
    --grey2: #EAEAEA;
    --grey3: #f7f7f7;
    --grey4: #f6f6f6;
    --grey5: #7E7E7E;
    --grey6: #353535;
    --white: #ffff;
    --background: #d2d2d2;
    --turquoise: #99e2d0;
    --darkGreen: #008766;
    --lightBlue: #89C8FA;
    --darkBlue: #003A68;
    --purple: #9356DC;
}
html {
    scroll-behavior: smooth;
  }
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    Margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.flexCenterXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignText {
    text-align: center;
}

.textDecorationNone {
    text-decoration: none;
}

.listNoSytle {
    list-style: none;
}

/******HEADER*****/
.logo {
    width: 162px;
    height: 44px;
}

.navBox {
    width: 100%;
    height: 63px;
    background-color: var(--white);
    padding-top: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.navBox a{
    position: absolute;
    top: 24px;
    left: 23px;
    color: var(--grey6)
}
/*Intro*/
/******MAIN*****/
.menuBox{
    width: 100%;
    height: 1282px;
}
.menu{
    width: 100%;
    background-color: var(--grey3);
    position: absolute;
    border-radius: 40px 40px 0px 0px;
    top: 283px;
}
.imageMenuSet {
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: center top;
    display: block;
}
.menu h2{
    padding-top: 25px;
    padding-left: 17px;
    padding-bottom: 30px;
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    
}
.menu h3{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 5px;
    border-bottom : 3px solid var(--turquoise);
    width: 40px;
}
.menu h4{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.menuChoices{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menuPart{
    padding-left: 13px;
    padding-right: 13px;
}
.menuPart button{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 12px 15px 12px 15px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
}
.tasteAndPrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tasteAndPrice b {
    color:var(--grey6);
}
.tasteAndPrice p{
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
}

.menuPart ul {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.orderButtonBox{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Boutton de Commande*/
.orderButtonStyle:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.35);
}

.orderButtonStyle {
    width: 218px;
    height: 50px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 25px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.orderButtonStyle p {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: var(--white);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/******FOOTER*****/
.footerBox{
    width: 100%;
    height: 186px;
    background-color: var(--grey6);
    padding : 22px 0px 22px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerBox h2, 
.footerBox p{
    color: white;
}
.footerBox h2{
    font-family: 'Shrikhand';   
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.footerBox li a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footerBox svg{
    width: 11px;
    height: 13px;
    fill: white;
}
.footerList{
    display :flex;
    flex-direction: column;
    gap:7px;
}