
/******HEADER*****/

.navBox a{
    position: absolute;
    top: 24px;
    left: 23px;
    color: var(--grey3)
}
.navBox a:hover{
    transform: scale(1.2);
}
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}
header{
    height:63px;
}

/******MAIN*****/
.menuTitleBox{
   position: relative;
}
.menuTitle{
    background-color: var(--background);
    color: var(--lightBlack);
    position: absolute;
    bottom: -1px;
    width: 100%;
    min-height: 55px;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    align-items: center;
    padding: 25px 41px 0px 17px;
}
.menuTitle h2{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    width: 90%;
}
.menuLikeIconPos{
    font-size: 20px;
    position: absolute;
    top: 53%;
    right: 41px;
}

.menu{
    width: 100%;
    background-color: var(--background);
    padding-top:40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.imageMenuSet {
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: bottom;
    display: block;
}

.menu h3{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 5px;
    border-bottom : 3px solid var(--turquoise);
    width: 40px;
}
.menu h4{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}
.menuPart{
    padding-left: 13px;
    padding-right: 13px;
}
.menuPart button{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 12px 15px 12px 15px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
}
.tasteAndPrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tasteAndPrice b {
    color:var(--grey3);
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.tasteAndPrice p{
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
    width: 88%;
}

.menuPart ul {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

/*Boutton de Commande*/
.orderButtonBox{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderButtonStyle:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.35);
}

.orderButtonStyle {
    width: 186px;
    height: 50px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 25px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.orderButtonStyle p {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: var(--white);
    transform: matrix(1, 0, 0, -1, 0, 0);
}